<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="APP" fileName="/var/log/bandaispy/app.log"
                 filePattern="/var/log/bandaispy/app-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d{ISO8601} %-5p [%t] [%c] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />
      </Policies>
      <DefaultRolloverStrategy />
    </RollingFile>
    <RollingFile name="TRACE" fileName="/var/log/bandaispy/trace.log"
                 filePattern="/var/log/bandaispy/trace-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d{ISO8601} %-5p [%t] [%c] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />
      </Policies>
      <DefaultRolloverStrategy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="INFO" level="info" additivity="false">
      <AppenderRef ref="APP"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="TRACE"/>
    </Root>
  </Loggers>
</Configuration>