<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="AppFile" fileName="/var/log/bandaispy/app.log"
                 filePattern="/var/log/bandaispy/app-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d{ISO8601} %-5p [%t] [%c] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />
      </Policies>
      <DefaultRolloverStrategy />
      <LevelRangeFilter minLevel="INFO" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
    </RollingFile>
    <RollingFile name="TraceFile" fileName="/var/log/bandaispy/trace.log"
                 filePattern="/var/log/bandaispy/trace-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d{ISO8601} %-5p [%t] [%c] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />
      </Policies>
      <DefaultRolloverStrategy />
    </RollingFile>
    <LevelRangeFilter minLevel="TRACE" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="AppFile"/>
      <AppenderRef ref="TraceFile"/>
    </Root>
  </Loggers>
</Configuration>